
    <section class="content">
        <h1>
            Articles
            <small>All</small>
        </h1>
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-book"></i> Blog</a></li>
            <li><a href="#">All</a></li>
            <div class="pull-right">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                        <i class="fa fa-cog"></i>
                        Actions
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a data-target="#assign_teacher_modal" data-toggle="modal" href="#" id="assign_teacher">
                            <i class="fa fa-edit">
                                
                            </i>
                            Edit
                          </a>
                        </li>
                        <li>
                          <a data-target="#delete_modal" data-toggle="modal" href="#" id="delete-articles">
                            <i class="fa fa-close">
                                
                            </i>
                            Delete
                          </a>
                        </li>
                        <li>
                          <a data-target="#assign_prefect_modal" data-toggle="modal" href="#" id="assign_prefect">
                            <i class="fa fa-check">
                                
                            </i>
                            Publish
                          </a>
                        </li>
                      </ul>
                    </div>

                    <div class="btn-group">
                        <a href="<%= new_article_path %>" class="btn btn-default dropdown-toggle" id="create-article">
                            <i class="fa fa-edit">
                                New Article
                            </i>
                        </a>
                        <a data-target="#category_modal" class="btn btn-default dropdown-toggle" data-toggle="modal" href="#" id="add-category">
                            <i class="fa fa-plus">
                                Add Category
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </ol>
        <!-- end:breadcrumb -->

        <!-- start:content -->
        <div class="row">
            <div class="col-md-12">
                <!-- start:dynamic data table -->
                <div class="adv-table">
                    <table  class="display table table-bordered table-striped" id="example">
                        <thead>
                            <tr>
                                <th><%= check_box_tag "toggle_articles" %></th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Created At</th>
                                <!-- <th></th> -->
                            </tr>
                        </thead>
                        <tbody class="articles_table">
                          <% @articles.each do |article| %>
                            <tr class="gradeX">
                                <td>
                                  <%= check_box_tag "article[article.id]", article.id %>
                                </td>
                                <td><%= article.title %></td>
                                <td><%= article.user.name if !article.user.nil? %></td>
                                <td><%= time_formatter(article.created_at) %></td>
                                </td>
                                <!-- <td>
                                    <%= link_to 'Show', article %> | 
                                    <%= link_to 'Edit', edit_article_path(article) %> | 
                                    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
                                </td> -->
                            </tr>
                          <% end %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <!-- <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th class="hidden-phone">Engine version</th>
                                <th class="hidden-phone">CSS grade</th> -->
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- end:dynamic data table -->
            </div>
        </div>
        <!-- end:content -->

    </section>

    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="delete_modal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Delete Articles?</h4>
          </div>
          <%= form_tag delete_multiple_articles_path do |f| %>
            <div class="modal-body">
              <label id="lbl-msg"></label>
              <%= hidden_field_tag 'delete_articles' %>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Cancel
              </button>
              <button class="btn btn-danger" type="submit">
                <i class="fa fa-trash-o"></i>
                Delete
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="category_modal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Add Category</h4>
          </div>
          <%= form_tag add_category_path do |f| %>
            <div class="modal-body">
              <label id="lbl-msg"></label>
              <input type="text" class="form-control" name="name">
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Cancel
              </button>
              <button class="btn btn-success" type="submit">
                <i class="fa fa-check"></i>
                Send
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>