      <!-- HEADER -->
      <div id="header">
        <div id="page-title">The blog</div>
        <!-- Breadcrumb-->
        <div id="breadcrumbs">
          You are here: 
          <a title="Home" href="blog.html#">Home</a> &raquo; 
          <a title="Features" href="blog.html#">Blog</a>
        </div>
        <!-- ENDS Breadcrumb--> 
      </div>
      <!-- ENDS HEADER -->
      
      <!-- CONTENT -->
      <div id="content">
            
        <!-- PAGE CONTENT -->
        <div id="page-content">
          <!-- Posts -->
          <% @articles.each do |article| %>
            <div class="post">
              <h1><%= link_to article.title, article_path(article) %></h1>
              <!-- meta -->
              <ul class="meta">
                <li>By <%= article.author %>&nbsp;</li> 
                <li> on <%= time_formatter(article.created_at) %>&nbsp;</li>
                <!-- <li> with 47 comments &nbsp;</li> -->
                <li> in <a href="blog.html#"><%= article.category.name if !article.category.nil? %></a>&nbsp;</li>
              </ul>
              <!-- ENDS meta -->
              <!-- feature image -->
              <div class="feature-image">
                <a href="<%= article_path(article) %>"><img src="<%= article.feature_image.url %>" alt="Feature image" /></a>
              </div>
              <!-- ENDS feature image -->
              <div class="the-excerpt">
                <%= raw article.summary %>
              </div>
              <a href="<%= article_path(article) %>" class="link-button"><span>Read more</span></a>
            </div>
          <% end %>
          <!-- ENDS posts -->
          
          <!-- Pagination -->
          <ul class='pager'>
            <li class="first-child"><a href="blog.html#">prev</a></li>
            <li class="active"><a href="blog.html#">1</a></li>
            <li><a href="blog.html#">2</a></li>
            <li><a href="blog.html#">3</a></li>
            <li><a href="blog.html#">4</a></li>
            <li><a href="blog.html#">5</a></li>
            <li class="last-child"><a href="blog.html#">next</a></li>
          </ul>
          <!-- ENDS Pagination -->
  
          
        </div>
        <!-- ENDS PAGE-CONTENT -->
      
      </div>
      <!-- ENDS CONTENT -->
      