<div class="content-wrapper__inner">
<article class="post-container post-container--single">

    <header class="post-header">
      <div class="post-meta">
        
        <a id="back-button" class="post-button btn square btn-small" href="javascript:history.back()">« Back</a>
        
        <!-- <span class="post-meta__read"> – <span class="post-reading-time"></span> read.</span> -->

      </div>

      <a href="<%= article_path(@article) %>"><h1 id="feature-title" class="post-title"><%= @article.title %></h1></a>
      <!-- <time datetime="Published at: <%= time_formatter(@article.created_at) %>" class="post-meta__date date"><%= time_formatter(@article.created_at) %></time> -->

    </header>

    <section class="post">
      <%= raw(@article.body) %>
    </section>

  </article>

  <p>
    <% if @article.category %>
      <span class="post-meta__tags tags">in <%= link_to @article.category.name, "/blog?category=#{@article.category.name}" %>&nbsp;</span>
    <% end %>
  </p>

  <section class="post-comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'ujiraniapp'; // required: replace example with your forum shortname
        var disqus_identifier = '<%= @article.id %>';
     
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</div>