<h1>Listing incidents</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>User</th>
      <th>Notification</th>
      <th>Location</th>
      <th>Resolved</th>
      <th>False flag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.type %></td>
        <td><%= incident.user %></td>
        <td><%= incident.notification %></td>
        <td><%= incident.location %></td>
        <td><%= incident.resolved %></td>
        <td><%= incident.false_flag %></td>
        <td><%= link_to 'Show', incident %></td>
        <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
        <td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident', new_incident_path %>
