<section class="content">
	<!-- <h1>
			Incident
			<small>#<%= @incident.id %></small>
	</h1> -->
	<!-- start:breadcrumb -->
	<ol class="breadcrumb">
			<li><a href="<%= user_path(@incident.user) %>"><i class="fa fa-user"></i> <%= @incident.user.name %></a></li>
			<li><a href="#"><%= @incident.user.phone_number %></a></li>
			<div class="pull-right">
				<div class="btn-toolbar" role="toolbar">
					<div class="btn-group">
						<button class="btn btn-default dropdown-toggle">
							<i class="fa fa-flag">
							False Flag
							</i>
						</button>
						<button class="btn btn-default dropdown-toggle">
							<% if !@incident.resolved %>
							<i class="fa fa-check">
							Mark as Resolved
							<% else %>
								<i class="fa fa-remove">
								Mark as Unresolved
							<% end %>
							</i>
						</button>
					</div>
				</div>
			</div>
	</ol>
	<!-- end:breadcrumb -->

	<!-- start:content -->
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="row">
					<div class="col-md-4">
					Type: <%= @incident.incident_type %>
					</div>
					<div class="col-md-4">
					False Flag?: <%= @incident.false_flag %>
					</div>
					<div class="col-md-4">
					Resolved: <%= @incident.resolved %>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12">
					<div id="incident-map" style="width: 100%; height: 600px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%= javascript_tag do %>
  window.incident = '<%= raw @incident.location %>'
<% end %>