<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @notification.contact %>
</p>

<p>
  <strong>Group:</strong>
  <%= @notification.group %>
</p>

<p>
  <strong>Notification type:</strong>
  <%= @notification.notification_type %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
