<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @attendee.event %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @attendee.contact %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
