<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="startup/flat-ui/images/favicon.ico">
        
        <link rel="stylesheet" href="startup/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="startup/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="startup/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="startup/common-files/css/animations.css">
        <link rel="stylesheet" href="static/css/style.css">
        
        <title></title>
    </head>

    <body>
        <div class="page-wrapper"><header class="header-13">
    <div class="container">
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                <a class="brand" href="#"><img src="startup/common-files/icons/logo.png" width="100" height="100" alt=""> </a>
            </div>
        </div>
    </div>
</header>
<section class="header-13-sub v-center bg-midnight-blue">
    <div>
        <div class="background">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <h3>Digitizing the Nyumba Kumi initative</h3><!-- 
                    <p class="lead">We have considered your needs in design the html version of our UI Kit. It’s absolutely amazing!</p> <br> -->
                    <div class="row">
                        <div class="col-md-8">
                            <a class="btn btn-primary" href="https://play.google.com/store/apps/details?id=com.app.nyumbakumi&hl=en"><span class="fui-android"> </span>Get on Google Play</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <img src="startup/common-files/img/header/iphone.png" class="hidden-xs" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h3>Unlocking Ujirani</h3>
                <p> Ujirani is a mobile application that digitizes the Nyumba Kumi initiative which was launched by the government in September 2013.</p>
                <div class="row box-video">
                    <div class="col-sm-7">
                        <div class="player">
                            <iframe id="pPlayer"
                                    src="http://player.vimeo.com/video/80282064?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=pPlayer"
                                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <h6>What it does:</h6>
                        <p> Ujirani is a neighbourhood community watch . It is also an intermediary between users and emergency response services . </p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="btns">
                            <a class="btn btn-inverse" href="#"><span class="fui-apple"> </span>Buy in Appstore(coming soon)</a>
                            <a class="btn btn-primary" href="https://play.google.com/store/apps/details?id=com.app.nyumbakumi&hl=en"><span class="fui-android"> </span>Get on Google Play</a>
                        </div>
                        <div class="additional-links">
                            Be sure to take a look at our
                            <br class="hidden-xs">
                            <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><section class="content-30">
    <div class="container">
        <div class="row features">
            <div class="col-sm-3 box-1">
                <div class="description-top">
                    <h6>Easy to use</h6>
                    To Get started you can use Facebook,Google plus or your email! Easy sign up process.
                    <img src="startup/common-files/img/content/arrow-tl@2x.png" width="61" height="97" alt="">
                </div>
                <div class="img">
                    <!-- <img src="startup/common-files/img/content/screen-1-bw@2x.png" width="220" height="391" alt=""> -->
                    <img src="startup/common-files/img/content/Ujirani-Login.png" width="220" height="391" alt="">
                </div>
                <!-- <div class="description-bottom">
                    <h6>Easy log in process!</h6>
                    Log in as frequent as you can .
                    <img src="startup/common-files/img/content/arrow-bl@2x.png" width="97" height="110" alt="">
                </div> -->
            </div>
            <div class="col-sm-3 box-2">
                <div class="description-top">
                    <h6>So simple ,you will love it!</h6>
                    To get started, we ask you for your phone number so that we can contact you during emergencies .
                    <img src="startup/common-files/img/content/arrow-tl@2x.png" width="61" height="97" alt="">
                </div>
                <div class="img">
                    <!-- <img src="startup/common-files/img/content/screen-2-bw@2x.png" width="220" height="391" alt=""> -->
                    <img src="startup/common-files/img/content/Ujiraniphonenumber.png" width="220" height="391" alt="">
                </div>
               <!--  <div class="description-bottom">
                    <h6>Variety of designs</h6>
                    Responsive web design is a web design approach aimed to provide crafting sites.
                    <img src="startup/common-files/img/content/arrow-br@2x.png" width="97" height="110" alt="">
                </div> -->
            </div>
            <div class="col-sm-3 box-3">
                <div class="description-top">
                    <h6>Landing Page</h6>
                    This is where all your notifications appear . You also have an access of the panic button and you can also see a list of the people in your community group.
                    <img src="startup/common-files/img/content/arrow-tr@2x.png" width="61" height="97" alt="">
                </div>
                <div class="img">
                   <!--  <img src="startup/common-files/img/content/screen-3-bw@2x.png" width="220" height="391" alt=""> -->
                    <img src="startup/common-files/img/content/Ujiranihome.png" width="220" height="391" alt="">
                </div>
                <!-- <div class="description-bottom">
                    <h6>Variety of designs</h6>
                    Responsive web design is a web design approach aimed to provide crafting sites.
                    <img src="startup/common-files/img/content/arrow-bl@2x.png" width="97" height="110" alt="">
                </div> -->
            </div>
            <div class="col-sm-3 box-4">
                <div class="description-top">
                    <h6>Quick Navigation</h6>
                    Without iconic symbolsreally finish your work - for clearly understand.
                    <img src="startup/common-files/img/content/arrow-tr@2x.png" width="61" height="97" alt="">
                </div>
                <div class="img">
                    <!-- <img src="startup/common-files/img/content/screen-4-bw@2x.png" width="220" height="391" alt=""> -->
                    <img src="startup/common-files/img/content/screen-4@2x.png" width="220" height="391" alt="">
                </div>
                <!-- <div class="description-bottom">
                    <h6>Variety of designs</h6>
                    Responsive web design is a web design approach aimed to provide crafting sites.
                    <img src="startup/common-files/img/content/arrow-br@2x.png" width="97" height="110" alt="">
                </div> -->
            </div>
        </div>
    </div>
</section><section class="content-12">
    <a class="wide btn-wide" href="https://play.google.com/store/apps/details?id=com.app.nyumbakumi&hl=en"><b>Download Ujirani</b> for FREE!</a>
</section><section class="content-4">
    <div class="container">
        <h3>Sampled Features </h3>

        <div class="row features">
            <div class="col-sm-4">
                <img src="startup/common-files/icons/retina-ready-s@2x.png" alt="" width="117" height="104">
                <h6>Panic Button</h6>
                <p>The Panic button is located inside the app . It has four options: 
                <strong>Security</strong>,
                <strong>Ambulance</strong>,
                <strong>Fire Station</strong> and 
                <strong>Report incident</strong> which does a call to your nearest police station.
                </p>
            </div>
            <div class="col-sm-4">
                <img src="startup/common-files/icons/clock@2x.png" alt="" width="104" height="104">
                <h6>Power Panic Button</h6>
                <p>We turn your power button into a panic button . In the case of an emergency you press your power button rapidly it sends out an alert notification via sms with your location to your neighbors.</p>
            </div>
            <div class="col-sm-4">
                <img src="startup/common-files/icons/chat.png" alt="" width="101" height="101">
                <h6>Chat</h6>
                <p>This is the section where you get to communicate with your neigbors . Get important notifications,catch up with the latest neighbourhood gossip and post notifications too.</p>
            </div>
        </div>
    </div>
</section><section class="crew-4">
    <div class="container">
        <h3 >Team<br/>
        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/muaad.png" alt=""></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Muaad Abdirahman</div>
                        <b>Software Developer</b>

                        <div class="contacts">
                            <a href="https://twitter.com/MuaadAM">@MuaadAM</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/cynthia.JPG" alt=""></div>
                        <div class="overlay">
                            <!-- <a href="#"><span class="fui-facebook"></span></a>
                            <a href="#"><span class="fui-twitter"></span></a> -->
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Cynthia Anyango</div>
                        <b>Software Developer</b> 

                        <div class="contacts">
                            <a href="#">@anyango_cynthia</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/adrian-v.png" alt=""></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">Vincent Oyolo</div>
                        <b>Market Lead</b>

                        <div class="contacts">
                            <a href="#">@vincentoyolo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section><section class="contacts-4">
    <div class="container">
        <div class="content">
            <div class="social-btns">
                <a href="https://twitter.com/UjiraniKE">
                    <div class="fui-twitter"></div>
                    <div class="fui-twitter"></div>
                </a>
                <a href="https://www.facebook.com/pages/Ujirani-app/1518675521712883?fref=ts">
                    <div class="fui-facebook"></div>
                    <div class="fui-facebook"></div>
                </a>
               <!--  <a href="#">
                    <div class="fui-vimeo"></div>
                    <div class="fui-vimeo"></div>
                </a> -->
            </div>
            <!-- <p>As a Harvard professor, he was one of the first to <br class="hidden-phone"> explore the relationship in equilibrium.</p> -->
            <div class="links">
                <h3>Get in touch with us</h3>
                <a href="mailto:hello@ujiraniapp.com">hello@ujiraniapp.com</a>
            </div>
        </div>
    </div>
</section>
<section class="content-12">
</section><footer class="footer-11">
    <div class="container">
        <a class="brand" href="#">
            <img src="startup/common-files/icons/logo.png" width="42" height="21" alt="">
        </a>
        <nav>
            <ul>
                <li><a href="http://ujiraniapp.com">Home</a></li>
                <li><a href="http://ujiraniapp.com/blog">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="social-btns"><!-- 
            <a href="#">
                <div class="fui-vimeo"></div>
                <div class="fui-vimeo"></div>
            </a> -->
            <a href="https://www.facebook.com/pages/Ujirani-app/1518675521712883?fref=ts">
                <div class="fui-facebook"></div>
                <div class="fui-facebook"></div>
            </a>
            <a href="https://twitter.com/UjiraniKE">
                <div class="fui-twitter"></div>
                <div class="fui-twitter"></div>
            </a>
        </div>
    </div>
    <div class="additional-links">
        <div class="container">
            <p class="lead"><b>1000+</b>registered users</p>
            <a href="#">Terms &amp; Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="mailto:hello@ujiraniapp.com">Contact Us</a>
        </div>
    </div>
</footer>            <!-- Placed at the end of the document so the pages load faster -->
            
        </div>
        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="signup_modal" role="dialog" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
              </div>
                <%= form_for(@user, :url => registration_path(@user), :html => { :role => 'form'}) do |f| %>
                  <div class="modal-body">
                      <div class="form-group">
                        <%= f.label :email %>
                        <%= f.email_field :email, class: 'form-control' %>
                      </div>
                      <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: 'form-control' %>
                      </div>
                      <div class="form-group">
                        <%= f.label :password_confirmation %>
                        <%= f.password_field :password_confirmation, class: 'form-control' %>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">
                      <i class="fa fa-times"></i>
                      Cancel
                    </button>
                    <button class="btn btn-success" type="submit">
                      <i class="fa fa-check"></i>
                      Sign Up
                    </button>
                  </div>
                <% end %>
            </div>
          </div>
        </div>

        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="signin_modal" role="dialog" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Sign In</h4>
              </div>
                <%= form_for(@user, :url => session_path(@user), :html => { :role => 'form'}) do |f| %>
                  <div class="modal-body">
                      <div class="form-group">
                        <%= f.label :email %>
                        <%= f.email_field :email, class: 'form-control' %>
                      </div>
                      <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: 'form-control' %>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">
                      <i class="fa fa-times"></i>
                      Cancel
                    </button>
                    <button class="btn btn-success" type="submit">
                      <i class="fa fa-check"></i>
                      Sign In
                    </button>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
    </body>
</html>
