<section class="panel">
  <%= form_for @company do |f| %>
    <div class="panel-body">
      <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:" %>
          </h2>
          <ul>
            <% @company.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :name %>
        <div class="iconic-input">
          <i class="fa fa-home"></i>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :form, "Service" %>
        <select class="form-control" name="company[form_id]" type="text">
          <% Service.all.each do |service| %>
            <option value="<%= service.id %>">
              <%= service.name %>
            </option>
          <% end %>
        </select>
      </div>
      <div class="form-group">
        <%= f.label :location %>
        <div class="iconic-input">
          <i class="fa fa-map-marker"></i>
          <%= f.text_field :location, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :phone_number %>
        <div class="iconic-input">
          <i class="fa fa-phone"></i>
          <%= f.text_field :phone_number, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="actions pull-right">
        <button class="btn btn-primary btn-rounded" type="submit">
          <i class="fa fa-save"></i>
          Save
        </button>
      </div>
    </div>
  <% end %>
</section>