<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @company.service %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @company.phone_number %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
