<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ujirani App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ujirani App" %>">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4u6EYHG6OxEBHORkBbKXUm7OQBySIxr8">
    </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <%= stylesheet_link_tag 'blog', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'blog', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div id="wrapper">
    <!-- SIDEBAR -->
    <div id="sidebar">
      <!-- logo -->
      <a href="index.html"><img src="/assets/logo.png" width="250" alt="Left template" id="logo" /></a>
            
      <!-- search -->
      <form  method="get" id="searchform" action="/blog">
        <div>
          <input type="text" value="Search..." name="query" id="s" onfocus="defaultInput(this)" onblur="clearInput(this)" />
          <input type="submit" id="searchsubmit" value=" " />
        </div>
      </form>
      <!-- ENDS search -->
            
      <!-- Navigation -->
      <ul id="nav" class="sf-menu sf-vertical">
        <li><%= link_to "HOME", "/blog" %></li>
        <% Category.all.each do |c| %>
          <li><%= link_to c.name, "/blog?category=#{c.name}" %></li>
        <% end %>
      </ul>
      <!-- Navigation --> 
          
      <!-- categories -->
      <!-- <ul class="cat-list">
        <li><h6>Categories</h6></li>
        <li><a href="single.html#" title="View posts">Design (11)</a></li>
        <li><a href="single.html#" title="View all posts">Web (6)</a></li> 
        <li><a href="single.html#" title="View all posts">Photo (3)</a></li>
        <li><a href="single.html#" title="View all posts">Coding (16)</a></li>
        <li><a href="single.html#" title="View all posts">Design (41)</a></li>
        <li><a href="single.html#" title="View all posts">Web (6)</a></li> 
        <li><a href="single.html#" title="View all posts">Photo (5)</a></li> 
        <li><a href="single.html#" title="View all posts">Coding (23)</a></li>
      </ul> -->
      <!-- categories --> 
      
      <!-- latest tweets -->
      <div class="tweet"><h6>Tweets</h6></div> 
      <!-- ENDS latest tweets -->
      
      <!-- Social -->
      <ul class="social">
        <li><h6>Follow us</h6>
        <li><a href="http://www.facebook.com" class="facebook" title="Become a fan"></a></li>
        <li><a href="http://www.twitter.com" class="twitter" title="Follow our tweets"></a></li>
        <li><a href="http://www.dribbble.com" class="dribbble" title="View our work"></a></li>
        <li><a href="http://www.addthis.com" class="addthis" title="Tell everybody"></a></li>
        <li><a href="http://www.vimeo.com" class="vimeo" title="View our videos"></a></li>
        <li><a href="http://www.youtube.com" class="youtube" title="View our videos"></a></li>
      </ul>
      <!-- ENDS Social -->

    </div>
    <!-- ENDS SIDEBAR -->

    <!-- MAIN -->
    <div id="main">
      <%= yield %>
    </div>
    <!-- ENDS MAIN -->
  </div>
  <!-- FOOTER -->
  <div id="footer">
    <!-- FOOTER-WRAPPER -->
    <div id="footer-wrapper">
      <!-- footer-cols -->
      
      <!-- ENDS footer-cols -->
      <!-- footer-bottom -->
      <div id="footer-bottom">
        <div id="bottom-left">
          &copy; <%= Time.now.year %> <%= link_to "Ujirani", root_path %>. All Rights Reserved.
        </div>
        <div id="bottom-right">To top</div>
      </div>
      <!-- ENDS footer-bottom -->
    </div>
    <!-- ENDS FOOTER-WRAPPER -->
  </div>
  <!-- ENDS FOOTER -->

  <!-- Google Analytics -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60370140-1', 'auto');
    ga('send', 'pageview');

  </script>
  </body>
</html>