<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Nyumba Kumi" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Nyumba Kumi" %>">
    <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4u6EYHG6OxEBHORkBbKXUm7OQBySIxr8">
    </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      // run the first time; all subsequent calls will take care of themselves
      setTimeout(executeQuery, 5000);
    });
      function initialize() {
        var mapOptions = {
          center: { lat: -1.288049, lng: 36.841828},
          zoom: 12
        };
        var myLatlng = new google.maps.LatLng(-1.2137278, 36.8928517);
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        var contentString = '<div id="content">'+
              '<div id="siteNotice">'+
              '</div>'+
              '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
              '<div id="bodyContent">'+
              '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
              'sandstone rock formation in the southern part of the '+
              'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
              'south west of the nearest large town, Alice Springs; 450&#160;km '+
              '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
              'features of the Uluru - Kata Tjuta National Park. Uluru is '+
              'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
              'Aboriginal people of the area. It has many springs, waterholes, '+
              'rock caves and ancient paintings. Uluru is listed as a World '+
              'Heritage Site.</p>'+
              '<p>Attribution: Uluru, <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
              'http://en.wikipedia.org/w/index.php?title=Uluru</a> '+
              '(last visited June 22, 2009).</p>'+
              '</div>'+
              '</div>';

        $.get('/company_incidents', function(data) {
          $.each(data, function(key, incident){
            console.log(incident);
            coords = incident.location;
            console.log(coords)
            lat = parseFloat(coords.substr(0, coords.indexOf(', ')))
            lng = parseFloat(coords.substr(coords.indexOf(', ')+2, coords.length))

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map,
                animation: google.maps.Animation.DROP,
                title: incident.user_name + " (" + incident.user_phone + ")"
            });
            var infowindow = new google.maps.InfoWindow({
                content: incident.user_name
            });
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.open(map,marker);
            });
          })
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);

      function executeQuery() {
        $.ajax({
          url: 'company_incidents',
          success: function(data) {
            $.each(data, function(key, incident){
              console.log(incident);
              coords = incident.location;
              console.log(coords)
              lat = parseFloat(coords.substr(0, coords.indexOf(', ')))
              lng = parseFloat(coords.substr(coords.indexOf(', ')+2, coords.length))

              var marker = new google.maps.Marker({
                  position: new google.maps.LatLng(lat, lng),
                  map: map,
                  animation: google.maps.Animation.DROP,
                  title: incident.user_name + " (" + incident.user_phone + ")"
              });
              var infowindow = new google.maps.InfoWindow({
                  content: incident.user_name
              });
              google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
              });
            })
          }
        });
        setTimeout(executeQuery, 5000); // you could choose not to continue on failure...
      }
    </script>
  </head>
  <body>
  	<%= render 'top_nav' %>
    <div id="map-canvas"></div>
    </div>
  </body>
</html>
