<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ujirani App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ujirani App" %>">
    <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => false %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding-top: 28px;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4u6EYHG6OxEBHORkBbKXUm7OQBySIxr8">
    </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      if (window.location.pathname == "/map") {
        $('#nav-link').html('<a href="/dashboard/index"><i class="fa fa-dashboard"></i> Dashboard</a>').addClass("logo");
      };
      // run the first time; all subsequent calls will take care of themselves
      setTimeout(executeQuery, 5000);
    });
      function initialize() {
        var mapOptions = {
          center: { lat: -1.288049, lng: 36.841828},
          zoom: 12
        };
        var myLatlng = new google.maps.LatLng(-1.2137278, 36.8928517);
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        $.get('/company_incidents', function(data) {
          for (var i = 0; i < data.length; i++) {
            $.each(data[i], function(key, incidents){
              for (var j = 0; j < incidents.length; j++) {
                var incident = incidents[j]
                coords = incident.location;
                console.log(coords)
                lat = parseFloat(coords.substr(0, coords.indexOf(', ')))
                lng = parseFloat(coords.substr(coords.indexOf(', ')+2, coords.length))

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(lat, lng),
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: incident.user_name + " (" + incident.user_phone + ")",
                    // icon: incident.user_photo
                });
                var infowindow = new google.maps.InfoWindow({
                    content: "<div id='content'><table><tr><td><img src=" + incident.user_photo + "/><td>Name: " + incident.user_name +
                    "<br>Phone number: " + incident.user_phone + "<br>Estate: " + incident.house_name + "<br>House number: " + incident.house_number + "</td></tr></table></div>"
                });
                google.maps.event.addListener(marker, 'click', function() {
                  infowindow.open(map,marker);
                });
              }
            })
          };
          // $.each(data, function(key, incident){
          //   console.log(incident);
          //   coords = incident.location;
          //   console.log(coords)
          //   lat = parseFloat(coords.substr(0, coords.indexOf(', ')))
          //   lng = parseFloat(coords.substr(coords.indexOf(', ')+2, coords.length))

          //   var marker = new google.maps.Marker({
          //       position: new google.maps.LatLng(lat, lng),
          //       map: map,
          //       animation: google.maps.Animation.DROP,
          //       title: incident.user_name + " (" + incident.user_phone + ")",
          //       // icon: incident.user_photo
          //   });
          //   var infowindow = new google.maps.InfoWindow({
          //       content: "<div id='content'><table><tr><td><img src=" + incident.user_photo + "/><td>Name: " + incident.user_name +
          //       "<br>Phone number: " + incident.user_phone + "<br>Estate: " + incident.house_name + "<br>House number: " + incident.house_number + "</td></tr></table></div>"
          //   });
          //   google.maps.event.addListener(marker, 'click', function() {
          //     infowindow.open(map,marker);
          //   });
          // })
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);

      function executeQuery() {
        $.ajax({
          url: 'unviewed_incidents',
          success: function(data) {
            for (var i = 0; i < data.length; i++) {
              $.each(data[i], function(key, incidents){
                for (var j = 0; j < incidents.length; j++) {
                  var incident = incidents[j]
                  coords = incident.location;
                  console.log(coords)
                  lat = parseFloat(coords.substr(0, coords.indexOf(', ')))
                  lng = parseFloat(coords.substr(coords.indexOf(', ')+2, coords.length))

                  var marker = new google.maps.Marker({
                      position: new google.maps.LatLng(lat, lng),
                      map: map,
                      animation: google.maps.Animation.DROP,
                      title: incident.user_name + " (" + incident.user_phone + ")",
                      // icon: incident.user_photo
                  });
                  var infowindow = new google.maps.InfoWindow({
                      content: "<div id='content'><table><tr><td><img src=" + incident.user_photo + "/><td>Name: " + incident.user_name +
                      "<br>Phone number: " + incident.user_phone + "<br>Estate: " + incident.house_name + "<br>House number: " + incident.house_number + "</td></tr></table></div>"
                  });
                  google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map,marker);
                  });
                }
              })
            };
            // $.each(data, function(key, incident){
            //   console.log(incident);
            //   coords = incident.location;
            //   console.log(coords)
            //   lat = parseFloat(coords.substr(0, coords.indexOf(', ')))
            //   lng = parseFloat(coords.substr(coords.indexOf(', ')+2, coords.length))

            //   var marker = new google.maps.Marker({
            //       position: new google.maps.LatLng(lat, lng),
            //       map: map,
            //       animation: google.maps.Animation.DROP,
            //       title: incident.user_name + " (" + incident.user_phone + ")",
            //       // icon: incident.user_photo
            //   });
            //   var infowindow = new google.maps.InfoWindow({
            //       content: "<div id='content'><table><tr><td><img src=" + incident.user_photo + "/><td>" + incident.user_name +
            //       "<br>Phone number: " + incident.user_phone + "<br>Estate: " + incident.house_name + "<br>House number: " + incident.house_number + "</td></tr></table></div>"
            //   });
            //   new Audio('assets/siren.mp3').play()
            //   google.maps.event.addListener(marker, 'click', function() {
            //     infowindow.open(map,marker);
            //   });
            // })
          }
        });
        setTimeout(executeQuery, 5000); // you could choose not to continue on failure...
      }
    </script>
  </head>
  <body class="cl-default fixed">
  	<%= render 'top_nav' %>
    <div id="map-canvas" class="wrapper row-offcanvas row-offcanvas-left"></div>
    </div>
    <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => false %>
  </body>
</html>
